
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Common elements</a> </div>
        <h1>Common Form Elements</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Ajouter Santé</h5>
                    </div>
                    {{ form_start(form) }}
                    <div class="widget-content">
                        <div class="control-group">
                            <label class="control-label">Groupe Sanguin :</label>
                            <div class="controls">
                                {{ form_widget(form.groupeSanguin, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Etat :</label>
                            <div class="controls">
                                {{ form_widget(form.etat, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Maladie Chronique :</label>
                            <div class="controls">
                                    {{ form_widget(form.maladieChronique, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Tailles :</label>
                            <div class="controls">
                                {{ form_widget(form.tailles, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Poids :</label>
                            <div class="controls">
                                {{ form_widget(form.poids, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Intervention :</label>
                            <div class="controls">
                                {{ form_widget(form.intervention, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Pays Chirurgie :</label>
                            <div class="controls">
                                {{ form_widget(form.paysChirurgie, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Nom du Médicament :</label>
                            <div class="controls">
                                {{ form_widget(form.nomMedicament, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Maladie Relative :</label>
                            <div class="controls">
                                {{ form_widget(form.maladieRelative, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Limite de Santé :</label>
                            <div class="controls">
                                {{ form_widget(form.limiteSante, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Temps de limite :</label>
                            <div class="controls">
                                {{ form_widget(form.tempsLimite, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Objet Portez :</label>
                            <div class="controls">
                                {{ form_widget(form.objetPorte, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Fourchette de prix d'intervention :</label>
                            <div class="controls">
                                {{ form_widget(form.prixIntervention, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Traitement Medical :</label>
                            <div class="controls">
                                {{ form_widget(form.traitementMedical, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Fréquence Maladie :</label>
                            <div class="controls">
                                {{ form_widget(form.frequenceMaladie, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Date à la quelle vous atteind :</label>
                            <div class="controls">
                                {{ form_widget(form.dateDebut, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Date du durée :</label>
                            <div class="controls">
                                {{ form_widget(form.dateFin, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Consultation medical :</label>
                            <div class="controls">
                                {{ form_widget(form.consultMedicin, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Bilan Sanguin :</label>
                            <div class="controls">
                                {{ form_widget(form.bilanSanguin, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Objet :</label>
                            <div class="controls">
                                {{ form_widget(form.obj, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Vous avez subit une opération chirurgie :</label>
                            <div class="controls">
                                {{ form_widget(form.chirurgie, {'attr': {'class': 'span11'}}) }}
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success">Ajouter</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
