{% extends 'base.html.twig' %}

{% block title %}Departement Sante{% endblock %}

{% block content %}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Accueil</a> <a href="#" class="current">Santé</a> </div>
            <h1>DEPARTEMENT SANTE</h1>
        </div>
        <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                        <h5 class="pull-left">santé</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Groupe Sanguin</th>
                                    <th>Etat</th>
                                    <th>Maladie Chronique</th>
                                    <th>Tailles</th>
                                    <th>Poids</th>
                                    <th>Intervention</th>
                                    <th>Pays Chirurgie</th>
                                    <th>Nom de Medicament</th>
                                    <th>Maladie Relative</th>
                                    <th>Limite de Santé</th>
                                    <th>Limite de Temps</th>
                                    <th>Chirurgie</th>
                                    <th>Objet Porter</th>
                                    <th>Type de maladie</th>
                                    <th>Prix d'Intervention</th>
                                    <th>Traitement Medical</th>
                                    <th>Fréquence de Maladie</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for sante in santes %}
                                <tr class="gradeX">
                                    <td>{{ sante.id }}</td>
                                    <td>{{ sante.groupeSanguin }}</td>
                                    <td>{{ sante.etat ? 'OUI' : 'NON' }}</td>
                                    <td>{{ sante.maladieChronique ? 'OUI' : 'NON' }}</td>
                                    <td>{{ sante.tailles }}</td>
                                    <td>{{ sante.poids }}</td>
                                    <td>{{ sante.intervention }}</td>
                                    <td>{{ sante.paysChirurgie }}</td>
                                    <td>{{ sante.nomMedicament }}</td>
                                    <td>{{ sante.maladieRelative }}</td>
                                    <td>{{ sante.limiteSante }}</td>
                                    <td>{{ sante.tempsLimite }}</td>
                                    <td>{{ sante.chirurgie }}</td>
                                    <td>{{ sante.objetPorte|join(', ') }}</td>
                                    <td>{{ sante.typeMaladie|join(', ') }}</td>
                                    <td>{{ sante.prixIntervention }}</td>
                                    <td>{{ sante.traitementMedical }}</td>
                                    <td>{{ sante.frequenceMaladie }}</td>
                                    <td>
                                        <a onClick="showOpen('{{sante.id}}', '{{ path('app_dashboard_show_sante', {'id': sante.id}) }}')" data-toggle="modal" data-target="#popUpWindow"><i class="icon-eye-open"></i></a>
                                        <a href="{{ path('app_dashboard_edit_sante', {'id': sante.id}) }}"><i class="icon-edit"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                            <tr>
                                <td colspan="22">Pas de donnée</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# modal #}
<div class="modal hide" id="popUpWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3>Add a new event</h3>
            </div>
            <div class="modal-body" id="contentModal"></div>
            <div class="modal-footer">
                <button class="btn pull-right" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jquery.min.js') }}"></script> 
<script src="{{ asset('js/matrix.tables.js') }}"></script>
<script>
    function showOpen(id, path){
        console.log(path)
        $.ajax({
            type: "POST",
            url: path,
            data:{ id : id},
            success: function(data){
                console.log(data)
                html = `
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>Données</td>
                                <td>Valeurs</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Groupe Sanguin</td>
                                <td>${data.groupeSanguin}</td>
                            </tr>
                            <tr>
                                <td>Etat</td>
                                <td>${data.etat}</td>
                            </tr>
                            <tr>
                                <td>Maladie Chronique</td>
                                <td>${data.maladieChronique}</td>
                            </tr>
                            <tr>
                                <td>Tailles</td>
                                <td>${data.tailles}</td>
                            </tr>
                            <tr>
                                <td>Poids</td>
                                <td>${data.poids}</td>
                            </tr>
                            <tr>
                                <td>Intervention</td>
                                <td>${data.intervention}</td>
                            </tr>
                            <tr>
                                <td>Pays Chirurgie</td>
                                <td>${data.paysChirurgie}</td>
                            </tr>
                            <tr>
                                <td>Nom de Medicament</td>
                                <td>${data.nomMedicament}</td>
                            </tr>
                            <tr>
                                <td>Maladie Relative</td>
                                <td>${data.maladieRelative}</td>
                            </tr>
                            <tr>
                                <td>Limite de Santé</td>
                                <td>${data.limiteSante}</td>
                            </tr>
                            <tr>
                                <td>Limite de Temps</td>
                                <td>${data.tempsLimite}</td>
                            </tr>
                            <tr>
                                <td>Chirurgie</td>
                                <td>${data.chirurgie}</td>
                            </tr>
                            <tr>
                                <td>Objet Porter</td>
                                <td>${data.objetPorte}</td>
                            </tr>
                            <tr>
                                <td>Type de maladie</td>
                                <td>${data.typeMaladie}</td>
                            </tr>
                            <tr>
                                <td>Prix d'Intervention</td>
                                <td>${data.prixIntervention}</td>
                            </tr>
                            <tr>
                                <td>Traitement Medical</td>
                                <td>${data.traitementMedical}</td>
                            </tr>
                            <tr>
                                <td>Fréquence de Maladie</td>
                                <td>${data.frequenceMaladie}</td>
                            </tr>
                        </tbody>
                    </table>
                `
                $("#contentModal").html(html);
            }
        })
    }
</script>
{% endblock %}