<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Common elements</a> </div>
        <h1>AJOUT COMMITE</h1>
    </div>
    <div class="widget-content global-commity" id="wizard">
            <div>
             {{ form_start(form) }}
                <h2>MON PROPOS</h2>
                <section>
                    <div class="control-group">
                        <label class="control-label">Nom famille :</label>
                        <div class="controls">
                            {{ form_widget(form.nomFamille, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Prenom de famille :</label>
                        <div class="controls">
                            {{ form_widget(form.prenomFamille, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Sexe :</label>
                        <div class="controls">
                            {{ form_widget(form.sexe, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Date de naissance :</label>
                        <div class="controls">
                            {{ form_widget(form.dateNaissance, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Nationalité :</label>
                        <div class="controls">
                            {{ form_widget(form.nationalite, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Document de voyage :</label>
                        <div class="controls">
                            {{ form_widget(form.documentVoyage, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Numéro de passeport :</label>
                        <div class="controls">
                            {{ form_widget(form.numeroPassport, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Numéro cin :</label>
                        <div class="controls">
                            {{ form_widget(form.numeroCin, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Situation marital :</label>
                        <div class="controls">
                            {{ form_widget(form.situationMarital, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Numéro de téléphone :</label>
                        <div class="controls">
                            {{ form_widget(form.numeroPhone, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Addresse email :</label>
                        <div class="controls">
                            {{ form_widget(form.adresseEmail, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Situation familliale :</label>
                        <div class="controls">
                            {{ form_widget(form.situationFamiliale, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Lieu de naissance :</label>
                        <div class="controls">
                            {{ form_widget(form.lieuNaissance, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Photo :</label>
                        <div class="controls">
                            {{ form_widget(form.imageFile, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                </section>
                <h2>MA SANTE</h2>
                <section>
                    <div class="control-group">
                        <label class="control-label">Groupe Sanguin :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.groupeSanguin, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Etat :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.etat, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Maladie Chronique :</label>
                        <div class="controls">
                                {{ form_widget(form.sante.maladieChronique, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Tailles :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.tailles, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Poids :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.poids, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Intervention :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.intervention, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Pays Chirurgie :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.paysChirurgie, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Nom du Médicament :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.nomMedicament, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Maladie Relative :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.maladieRelative, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Limite de Santé :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.limiteSante, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Temps de limite :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.tempsLimite, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Objet Portez :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.objetPorte, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Fourchette de prix d'intervention :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.prixIntervention, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Traitement Medical :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.traitementMedical, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Fréquence Maladie :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.frequenceMaladie, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Date à la quelle vous atteind :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.dateDebut, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Date du durée :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.dateFin, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Consultation medical :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.consultMedicin, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Bilan Sanguin :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.bilanSanguin, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Objet :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.obj, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Vous avez subit une opération chirurgie :</label>
                        <div class="controls">
                            {{ form_widget(form.sante.chirurgie, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                </section>
                <h2>MON SOCIAL</h2>
                <section>
                    <div class="control-group">
                        <label class="control-label">Aide Nourriture :</label>
                        <div class="controls">
                            {{ form_widget(form.social.aideNourriture, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Aide Education :</label>
                        <div class="controls">
                            {{ form_widget(form.social.aideEducation, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Aide Social :</label>
                        <div class="controls">
                                {{ form_widget(form.social.aideSocial, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Aide Sante :</label>
                        <div class="controls">
                            {{ form_widget(form.social.aideSante, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Aide Travail :</label>
                        <div class="controls">
                            {{ form_widget(form.social.aideTravail, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                </section>
                <h2>MON TABLIGH</h2>
                <section>
                    <div class="control-group">
                        <label class="control-label">Avez vous été au madressa ?</label>
                        <div class="controls">
                            {{ form_widget(form.tabligh.questionMadressa, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Jusqu'à quelle classe ?</label>
                        <div class="controls">
                            {{ form_widget(form.tabligh.classeMadressa, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Est ce vos enfants fréquentent le madressa ?</label>
                        <div class="controls">
                                {{ form_widget(form.tabligh.frequentMadressa, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Quelles sont vos fréquentations de la mosquée ?</label>
                        <div class="controls">
                            {{ form_widget(form.tabligh.frequentMosquet, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Selon vous, à quelle fréquence venez vous à la mosquée dans une année ?</label>
                        <div class="controls">
                            {{ form_widget(form.tabligh.freqMosquetAnnee, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Que proposez-vous pour améliorer le tabligh en général ?</label>
                        <div class="controls">
                            {{ form_widget(form.tabligh.proposition, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                </section>
                <h2>LOGEMENT</h2>
                <section>
                    <div class="control-group">
                        <div class="controls">
                            <ul class="logements" data-prototype="{{form_widget(form.possession.vars.prototype)|e('html_attr')}}"></ul>
                        </div>
                    </div>
                </section>
                <h2>EDUCATION</h2>
                <section>
                    <div class="control-group">
                        <div class="controls">
                            <ul class="educations" data-prototype="{{form_widget(form.etudiant.vars.prototype)|e('html_attr')}}"></ul>
                        </div>
                    </div>
                </section>
                <h2>SPORT</h2>
                <section>
                    <div class="control-group">
                        <div class="controls">
                            <ul class="sports" data-prototype="{{form_widget(form.sport.vars.prototype)|e('html_attr')}}"></ul>
                        </div>
                    </div>
                </section>
                <h2>PROFESSION</h2>
                <section>
                    <div class="control-group">
                        <div class="controls">
                            <ul class="professions" data-prototype="{{form_widget(form.profession.vars.prototype)|e('html_attr')}}"></ul>
                        </div>
                    </div>
                </section>
                {{ form_end(form) }}
            </div>
            
           
    </div>
</div>
