<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Common elements</a> </div>
        <h1>AJOUT COMMITE</h1>
    </div>
    <div class="widget-content global-commity">
        <form method="post" id="wizard" action="{{ path('app_dashboard_commity_create') }}" enctype="multipart/form-data" >
        {{ form_start(form) }}
            <div>
                <h2>MON PROPOS</h2>
                <section>
                    <div class="control-group">
                        <div class="controls">
                            <label>Nom de Famille :</label>
                            {{ form_widget(form.nomFamille, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Prénom de Famille :</label>
                            {{ form_widget(form.prenomFamille, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Sexe :</label>
                            {{ form_widget(form.sexe, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Date de Naissance :</label>
                            {{ form_widget(form.dateNaissance, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Lieu de Naissance :</label>
                            {{ form_widget(form.lieuNaissance, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Nationalité :</label>
                            {{ form_widget(form.nationalite, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Document de Voyage :</label>
                            {{ form_widget(form.documentVoyage, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Numéro de Passeport :</label>
                            {{ form_widget(form.numeroPassport, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>CIN :</label>
                            {{ form_widget(form.numeroCin, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Situation Marital :</label>
                            {{ form_widget(form.situationMarital, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Numéro de Téléphone :</label>
                            {{ form_widget(form.numeroPhone, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Adresse Email :</label>
                            {{ form_widget(form.adresseEmail, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Situation Familliale :</label>
                            {{ form_widget(form.situationFamiliale, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Photo :</label>
                            {{ form_widget(form.imageFile, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                </section>
                <h2>Ma Santé</h2>
                <section>
                    <div class="control-group">
                        <div class="controls">
                            <label>Groupe Sanguin :</label>
                            {{ form_widget(form.sante.groupeSanguin, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Votre etat de santer ?</label>
                            {{ form_widget(form.sante.etat, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Souffrez vous d'une maladie chronique ?</label>
                            {{ form_widget(form.sante.maladieChronique, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Tailles :</label>
                            {{ form_widget(form.sante.tailles, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Poids :</label>
                            {{ form_widget(form.sante.poids, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Précisez les interventions ?</label>
                            {{ form_widget(form.sante.intervention, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Avez vous subie une opération/chirurgie invasive ?</label>
                            {{ form_widget(form.sante.paysChirurgie, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Limitez vous par une problème de santé ?</label>
                            {{ form_widget(form.sante.limiteSante, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Dépuis combien de temps la limite ? :</label>
                            {{ form_widget(form.sante.tempsLimite, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Vous portez des objets ?</label>
                            {{ form_widget(form.sante.objetPorte, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Fourchette des coûts d'interventions</label>
                            {{ form_widget(form.sante.prixIntervention, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Etes vous sous traitement medicamenteuse à long terme ?</label>
                            {{ form_widget(form.sante.traitementMedical, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Le nom de medicament :</label>
                            {{ form_widget(form.sante.nomMedicament, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Maladie rélative :</label>
                            {{ form_widget(form.sante.maladieRelative, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Fréquence :</label>
                            {{ form_widget(form.sante.frequenceMaladie, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Date du début à laquel vous atteint :</label>
                            {{ form_widget(form.sante.dateDebut, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Date fin du traitement :</label>
                            {{ form_widget(form.sante.dateFin, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Aquelle fréquence consultez vous des médicins ?</label>
                            {{ form_widget(form.sante.consultMedicin, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Faites vous un bilan sanguin ?</label>
                            {{ form_widget(form.sante.bilanSanguin, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Nom du chirurgie :</label>
                            {{ form_widget(form.sante.chirurgie, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Les différentes maladies touchant différente partie du corps :</label>
                            {{ form_widget(form.sante.typeMaladie, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                </section>
                <h2>MON SOCIAL</h2>
                <section>
                    <div class="control-group">
                        <div class="controls">
                            <label>Vous avez une aide Nouriture ?</label>
                            {{ form_widget(form.social.aideNourriture, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Vous avez une aide Education ?</label>
                            {{ form_widget(form.social.aideEducation, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Vous avez une aide Social ?</label>
                            {{ form_widget(form.social.aideSocial, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Vous avez une aide Santé ?</label>
                            {{ form_widget(form.social.aideSante, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Vous avez une aide Travail ?</label>
                            {{ form_widget(form.social.aideTravail, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                </section>
                <h2>MES LOGEMENTS</h2>
                <section>
                    <div class="control-group">
                        <div class="controls">
                            <div>Ajouter des logements </div>
                            <ul class="logements" data-prototype="{{ form_row(form.possession.vars.prototype)|e('html_attr') }}"></ul>
                        </div>
                    </div>
                </section>
                <h2>MON PROFESSION</h2>
                <section>
                    <div class="control-group">
                        <div class="controls">
                            <div>Ajouter des professions </div>
                            <ul class="professions" data-prototype="{{ form_row(form.profession.vars.prototype)|e('html_attr') }}"></ul>
                        </div>
                    </div>
                </section>
                <h2>MON EDUCATION</h2>
                <section>
                    <div class="control-group">
                        <div class="controls">
                            <div>Ajouter des éducations </div>
                            <ul class="educations" data-prototype="{{ form_row(form.etudiant.vars.prototype)|e('html_attr') }}"></ul>
                        </div>
                    </div>
                </section>
                <h2>MON SPORT</h2>
                <section>
                    <div class="control-group">
                        <div class="controls">
                            <div>Ajouter des sports </div>
                            <ul class="sports" data-prototype="{{ form_row(form.sport.vars.prototype)|e('html_attr') }}"></ul>
                        </div>
                    </div>
                </section>
                <h2>TABLIGH</h2>
                <section>
                    <div class="control-group">
                        <div class="controls">
                            <label>Avez vous été au madressa ?</label>
                            {{ form_widget(form.tabligh.questionMadressa, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Jusqu'à quelle classe ?</label>
                            {{ form_widget(form.tabligh.classeMadressa, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Est ce vos enfants fréquentent le madressa ?</label>
                            {{ form_widget(form.tabligh.frequentMadressa, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Quelles sont vos fréquentations de la mosquée ?</label>
                            {{ form_widget(form.tabligh.frequentMosquet, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Vous fréquente le Mosquet par année ?</label>
                            {{ form_widget(form.tabligh.freqMosquetAnnee, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label>Quelle proposition vous suggere pour amélioré le Mosquet ?</label>
                            {{ form_widget(form.tabligh.proposition, {'attr': {'class': 'span11'}}) }}
                        </div>
                    </div>
                </section>
            </div>
        {{ form_end(form) }}
        </form>
    </div>
</div>
