{% extends 'base.html.twig' %}

{% block title %}New Commity{% endblock %}

{% block stylesheets  %}
  <link rel="stylesheet" href="{{ asset('css/jquery.steps.css') }}" />
{% endblock %}

{% block content %}
     {{ include('commity/_form.html.twig') }}  
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jquery.min.js') }}"></script> 
<script src="{{ asset('js/jquery.steps.min.js') }}"></script>
<script src="{{asset('js/paysData.js')}}"></script>
    <script>
      /*START LOGEMENT*/
      (function(){
    
        let $collectionLogement;
        let $boutonAjouterLogement = $('<button type="button" class="add_logement_link"><i class="icon-plus"></i></button>');
        let $nouveauLogement = $('<li></li>').append($boutonAjouterLogement);

        jQuery(document).ready(function() {

          $collectionLogement = $('ul.logements');
          $collectionLogement.find('li').each(function(){
            addLogementDeleteLink($(this));
          });
          $collectionLogement.append($nouveauLogement);
          $collectionLogement.data('index', $collectionLogement.find('input').length);

          addLogementForm($collectionLogement, $nouveauLogement);

          $boutonAjouterLogement.on('click', function(e){
             addLogementForm($collectionLogement, $nouveauLogement);
          });

          function addLogementForm($collectionLogement, $newLinkLi){
            let datasPays = getCountry();
            let prototypeLogement = $collectionLogement.data('prototype');
            let indexLogement = $collectionLogement.data('index');
            let newFormLogement = prototypeLogement;
            newFormLogement = newFormLogement.replace(/__name__/g, indexLogement);
            $collectionLogement.data('index', indexLogement + 1);
            
            let $newFormLiLogement = $('<li></li>').append(newFormLogement);

            datasPays.forEach(function(data){
              $newFormLiLogement.find(`select#commity_possession_${indexLogement}_nomPays`).append(`<option value=${JSON.stringify(data)}>${data}</option>`);
            })

            $newFormLiLogement.find(`select#commity_possession_${indexLogement}_nomPays`).change(function(e){
              let provinces = getProvince(e.target.value);
              $newFormLiLogement.find(`select#commity_possession_${indexLogement}_province option`).remove()
              provinces.forEach(function(data){
                $newFormLiLogement.find(`select#commity_possession_${indexLogement}_province`).append(`<option value='${data}'>${data}</option>`)
              })
            })

            $newFormLiLogement.find(`select#commity_possession_${indexLogement}_province`).change(function(e){
              let regions = getRegion(e.target.value);
              $newFormLiLogement.find(`select#commity_possession_${indexLogement}_region option`).remove()
              regions.forEach(function(data){
                $newFormLiLogement.find(`select#commity_possession_${indexLogement}_region`).append(`<option value='${data.toUpperCase()}'>${data}</option>`)
              })
            });
            $newLinkLi.before($newFormLiLogement);
 
            addLogementDeleteLink($newFormLiLogement);
          }

          function addLogementDeleteLink($tagFormLi){
            let $removeFormButton = $('<button type="button"><i class="icon-trash"></i></button>');
            $tagFormLi.append($removeFormButton);
            $removeFormButton.on('click', function(e){
              $tagFormLi.remove();
            })
          }
        });
        })()
        /*let $collectionEducation;
        let $boutonAjouterEducation = $('<button type="button" class="add_education_link"><i class="icon-plus"></i></button>');
        let $nouveauEducation = $('<li></li>').append($boutonAjouterEducation);

        jQuery(document).ready(function() {

          $collectionEducation = $('ul.educations');
          $collectionEducation.find('li').each(function(){
            addEducationDeleteLink($(this));
          });

          $collectionEducation.append($nouveauEducation);
          $collectionEducation.data('index', $collectionEducation.find('input').length);
          
          /** EDUCATION 
          $(document).ready(function(){
            datasPays.forEach(function(data){
              $("select.paysEducation").append(`<option>${data}</option>`);
            });

            $("select.paysEducation").change(function(){
              $("select.provinceEducation option").remove();
              let provinces = getProvince($("select.paysEducation").val())
              provinces.forEach(function(data){
                  $("select.provinceEducation").append(`<option>${data}</option>`);
              })
            });

            $("select.province").change(function(e){
              $("select.region option").remove();
              regions = getRegion($("select.province").val())
              regions.forEach(function(data){
                $("select.region").append(`<option>${data}</option>`);
              })
            });

          });
          /** END EDUCATION 

          addEducationForm($collectionEducation, $nouveauEducation);

          $boutonAjouterEducation.on('click', function(e){
            addEducationForm($collectionEducation, $nouveauEducation);
            $(document).ready(function(){
              datasPays.forEach(function(data){
                $("select.paysEducation").append(`<option>${data}</option>`);
              })

              $("select.paysEducation").change(function(){
                let provinces = getProvince($("select.paysEducation").val())
                provinces.forEach(function(data){
                    $("select.provinceEducation").append(`<option>${data}</option>`);
                })
              });

              /*$("select.province").change(function(){
                let regions = getRegion($("select.province").val())
                regions.forEach(function(data){
                  $("select.region").append(`<option>${data}</option>`);
                })
              });
            });
          });

          function addEducationForm($collectionEducation, $newLinkLi){
            let prototypeEducation = $collectionEducation.data('prototype');
            let indexEducation = $collectionEducation.data('index');
            let newFormEducation = prototypeEducation;
            newFormEducation = newFormEducation.replace(/__name__/g, indexEducation);
            $collectionEducation.data('index', indexEducation + 1);
            let $newFormLiEdducation = $('<li></li>').append(newFormEducation);
            $newLinkLi.before($newFormLiEdducation);
            addEducationDeleteLink($newFormLiEdducation);
          }

          function addEducationDeleteLink($tagFormLi){
            let $removeFormButton = $('<button type="button"><i class="icon-trash"></i></button>');
            $tagFormLi.append($removeFormButton);
            $removeFormButton.on('click', function(e){
              $tagFormLi.remove();
            })
          }
        });

        let $collectionSport;
        let $boutonAjouterSport = $('<button type="button" class="add_sport_link"><i class="icon-plus"></i></button>');
        let $nouveauSport = $('<li></li>').append($boutonAjouterSport);

        jQuery(document).ready(function() {
          $collectionSport = $('ul.sports');
          $collectionSport.find('li').each(function(){
            addSportDeleteLink($(this));
          });

          $collectionSport.append($nouveauSport);
          $collectionSport.data('index', $collectionSport.find('input').length);

          addSportForm($collectionSport, $nouveauSport);

          $boutonAjouterSport.on('click', function(e){
            addSportForm($collectionSport, $nouveauSport);
          });

          function addSportForm($collectionSport, $newLinkLi){
            let prototypeSport = $collectionSport.data('prototype');
            let indexSport = $collectionSport.data('index');
            let newFormSport = prototypeSport;
            newFormSport = newFormSport.replace(/__name__/g, indexSport);
            $collectionSport.data('index', indexSport + 1);
            let $newFormLiSport = $('<li></li>').append(newFormSport);
            $newLinkLi.before($newFormLiSport);
            addSportDeleteLink($newFormLiSport);
          }

          function addSportDeleteLink($tagFormLi){
            let $removeFormButton = $('<button type="button"><i class="icon-trash"></i></button>');
            $tagFormLi.append($removeFormButton);
            $removeFormButton.on('click', function(e){
              $tagFormLi.remove();
            })
          }
        });

        let $collectionProfession;
        let $boutonAjouterProfession = $('<button type="button" class="add_sport_link"><i class="icon-plus"></i></button>');
        let $nouveauProfession = $('<li></li>').append($boutonAjouterProfession);

        jQuery(document).ready(function() {
          $collectionProfession = $('ul.professions');
          $collectionProfession.find('li').each(function(){
            addProfessionDeleteLink($(this));
          });

          $collectionProfession.append($nouveauProfession);
          $collectionProfession.data('index', $collectionProfession.find('input').length);

          addProfessionForm($collectionProfession, $nouveauProfession);

          $boutonAjouterProfession.on('click', function(e){
            addProfessionForm($collectionProfession, $nouveauProfession);
          });

          function addProfessionForm($collectionProfession, $newLinkLi){
            let prototypeProfession = $collectionProfession.data('prototype');
            let indexProfession = $collectionProfession.data('index');
            let newFormProfession = prototypeProfession;
            newFormProfession = newFormProfession.replace(/__name__/g, indexProfession);
            $collectionProfession.data('index', indexProfession + 1);
            let $newFormLiProfession = $('<li></li>').append(newFormProfession);
            $newLinkLi.before($newFormLiProfession);
            addProfessionDeleteLink($newFormLiProfession);
          }

          function addProfessionDeleteLink($tagFormLi){
            let $removeFormButton = $('<button type="button"><i class="icon-trash"></i></button>');
            $tagFormLi.append($removeFormButton);
            $removeFormButton.on('click', function(e){
              $tagFormLi.remove();
            })
          }
        });
      })()*/

      let form = $("#wizard");

      form.children("div").steps({
        headerTag: "h2",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        onFinished: function(event){
          form.submit();
        }
      })

      for(let i = 1; i <= 7; i++){
        $(`#steps-uid-${i}`).css({display:'none'});
      }
      
    </script>
{% endblock %}
