{% extends 'base.html.twig' %}

{% block title %}Departement Sante{% endblock %}

{% block content %}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Accueil</a> <a href="#" class="current">Tabligh</a> </div>
            <h1>DEPARTEMENT TABLIGH</h1>
        </div>
        <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                        <h5 class="pull-left">TABLIGH</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Avez vous été au madressa ?</th>
                                    <th>Jusqu'à quelle classe ?</th>
                                    <th>Est ce vos enfants fréquentent le madressa ?</th>
                                    <th>Quelles sont vos fréquentations de la mosquée ?</th>
                                    <th>Selon vous, à quelle fréquence venez vous à la mosquée dans une année ?</th>
                                    <th>Que proposez-vous pour améliorer le tabligh en général ?</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for tabligh in tablighs %}
                                <tr>
                                    <td>{{ tabligh.id }}</td>
                                    <td>{{ tabligh.questionMadressa ? 'OUI' : 'NON' }}</td>
                                    <td>{{ tabligh.classeMadressa }}</td>
                                    <td>{{ tabligh.frequentMadressa ? 'OUI' : 'NON' }}</td>
                                    <td>{{ tabligh.frequentMosquet|join(', ')  }}</td>
                                    <td>{{ tabligh.freqMosquetAnnee}}</td>
                                    <td>{{ tabligh.proposition}}</td>
                                    <td>
                                        <a onClick="showOpen('{{ path('app_dashboard_tabligh_show', {'id': tabligh.id}) }}', '{{tabligh.id}}')" data-toggle="modal" data-target="#popUpWindow"><i class="icon-eye-open"></i></a>
                                        <a href="{{ path('app_dashboard_tabligh_edit', {'id': tabligh.id}) }}"><i class="icon-edit"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">Pas de donnée</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# modal #}
<div class="modal hide" id="popUpWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3>Add a new event</h3>
            </div>
            <div class="modal-body" id="contentModal"></div>
            <div class="modal-footer">
                <button class="btn pull-right" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jquery.min.js') }}"></script> 
<script src="{{ asset('js/matrix.tables.js') }}"></script>

<script>
    function showOpen(path, id){
        console.log(path, 'id',id)
        $.ajax({
            type: "POST",
            url: path,
            data:{ id : id},
            success: function(data){
                console.log(data)
                html = `
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>Données</td>
                                <td>Valeurs</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Avez vous été au madressa ?</td>
                                <td>${data.questionMadressa}</td>
                            </tr>
                            <tr>
                                <td>Jusqu'à quelle classe ?</td>
                                <td>${data.classeMadressa}</td>
                            </tr>
                            <tr>
                                <td>Est ce vos enfants fréquentent le madressa ?</td>
                                <td>${data.frequentMadressa}</td>
                            </tr>
                            <tr>
                                <td>Quelles sont vos fréquentations de la mosquée ?</td>
                                <td>${data.frequentMosquet}</td>
                            </tr>
                            <tr>
                                <td>Selon vous, à quelle fréquence venez vous à la mosquée dans une année ?</td>
                                <td>${data.freqMosquetAnnee}</td>
                            </tr>
                            <tr>
                                <td>Que proposez-vous pour améliorer le tabligh en général ?</td>
                                <td>${data.proposition}</td>
                            </tr>
                        </tbody>
                    </table>
                `
                $("#contentModal").html(html);
            }
        })
    }
</script>
{% endblock %}