{% extends 'base.html.twig' %}

{% block title %}Departement Sante{% endblock %}

{% block content %}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Accueil</a> <a href="#" class="current">Tabligh</a> </div>
            <h1>DEPARTEMENT TABLIGH</h1>
        </div>
        <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                        <h5 class="pull-left">TABLIGH</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Avez vous été au madressa ?</th>
                                    <th>Jusqu'à quelle classe ?</th>
                                    <th>Est ce vos enfants fréquentent le madressa ?</th>
                                    <th>Quelles sont vos fréquentations de la mosquée ?</th>
                                    <th>Selon vous, à quelle fréquence venez vous à la mosquée dans une année ?</th>
                                    <th>Que proposez-vous pour améliorer le tabligh en général ?</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for tabligh in tablighs %}
                                <tr>
                                    <td>{{ tabligh.id }}</td>
                                    <td>{{ tabligh.questionMadressa ? 'OUI' : 'NON' }}</td>
                                    <td>{{ tabligh.classeMadressa }}</td>
                                    <td>{{ tabligh.frequentMadressa ? 'OUI' : 'NON' }}</td>
                                    <td>{{ tabligh.frequentMosquet}}</td>
                                    <td>{{ tabligh.freqMosquetAnnee}}</td>
                                    <td>{{ tabligh.proposition}}</td>
                                    <td>
                                        <a href="{{ path('app_dashboard_tabligh_show', {'id': tabligh.id}) }}" data-toggle="modal" data-target="#popUpWindow"><i class="icon-eye-open"></i></a>
                                        <a href="{{ path('app_dashboard_tabligh_edit', {'id': tabligh.id}) }}"><i class="icon-edit"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">Pas de donnée</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jquery.min.js') }}"></script> 
<script src="{{ asset('js/matrix.tables.js') }}"></script>
{% endblock %}

{% block modal %}
    {{ include('tablighs/_modal.html.twig') }}
{% endblock %}