<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Form elements</a> <a href="#" class="current">Common elements</a> </div>
        <h1>AJOUT MARIAGE</h1>
    </div>
    <div class="widget-content global-commity">
        {{ form_start(form) }}
            <div class="control-group">
                <label class="control-label">Date mariage :</label>
                <div class="controls">
                    {{ form_widget(form.dateMariage, {'attr': {'class': 'form-control span11'}}) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Epoux :</label>
                <div class="controls">
                    {{ form_widget(form.mari, {'attr': {'class': 'form-control span11'}}) }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Epouse :</label>
                <div class="controls">
                    {{ form_widget(form.marie, {'attr': {'class': 'form-control span11'}}) }}
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success">Ajouter</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>