{% extends 'base.html.twig' %}

{% block title %}Departement Sante{% endblock %}

{% block content %}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Accueil</a> <a href="#" class="current">Sport</a> </div>
            <h1>DEPARTEMENT SPORT</h1>
        </div>
        <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                        <h5 class="pull-left">SPORT</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>PratiqueSport</th>
                                    <th>Quel Sport</th>
                                    <th>Quel Frequence</th>
                                    <th>Pratiquez Loisir ?</th>
                                    <th>Quel Loisir</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for sport in sports %}
                                <tr>
                                    <td>{{ sport.id }}</td>
                                    <td>{{ sport.pratiqueSport ? 'OUI' : 'NON' }}</td>
                                    <td>{{ sport.nomSport }}</td>
                                    <td>{{ sport.frequenceSport }}</td>
                                    <td>{{ sport.pratiqueLoisir ? 'OUI' : 'NON' }}</td>
                                    <td>{{ sport.nomLoisir }}</td>
                                    <td>
                                        <a href="{{ path('app_dashboard_sport_show', {'id': sport.id}) }}" data-toggle="modal" data-target="#popUpWindow"><i class="icon-eye-open"></i></a>
                                        <a href="{{ path('app_dashboard_sport_edit', {'id': sport.id}) }}"><i class="icon-edit"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">Pas de donnée</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jquery.min.js') }}"></script> 
<script src="{{ asset('js/matrix.tables.js') }}"></script>
{% endblock %}

{% block modal %}
    {{ include('sports/_modal.html.twig') }}
{% endblock %}