{% block stylesheets  %}
  <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/matrix-style.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/matrix-media.css') }}" />
{% endblock %}
{% block content %}
  <div class="container-fluid" style="margin-top: 10%">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>ERREUR</h5>
          </div>
          <div class="widget-content">
            <div class="error_ex">
              <h1>OUPS UNE ERREUR SE PRODUISE</h1>
              <p>Veuillez verifier ce que vous avez fais sinon va vers la page d'accueil</p>
              <a class="btn btn-warning btn-big"  href="{{ path('app_dashboard_home') }}">page d'acceuil</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}